<html>
<head>
    <title>Reservation Management System</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>Explore our Reservation Management System</h1>
    </header>
    <main>
        <section>
            <h2>Handle Reservations with Ease</h2>
            <p>Explore the simple static homepage of our Reservation Management System.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Hotel Management System. All rights reserved</p>
    </footer>
</body>
</html>